/*
  Main SASS file for realtime storage
*/

// Variables
$brand-color: #205081;
$light-grey: #999;
$text-color: #333;
$link-color: #3572b0;
$border-grey: #D7D7D7;
$light-brand: rgba(32, 80, 129, 0.15);
$error: #d43f3a;

// Imports
@import "mixins";
@import "typography";
@import "login";
@import "footer";
@import "files";
@import "upload";

// Reset Styles
body {
  margin:0;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  display:block;
}

// Global Styles
.container {
  max-width:1200px;
  margin:0 auto;
}
