/*
  Main SASS file for realtime storage
*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #333333; }

h1 {
  color: #205081;
  font-size: 2.4em; }

h2 {
  color: #999999;
  font-size: 1.6em; }

h3 {
  font-size: 1.4em; }

a {
  color: #3572b0;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

section.login {
  width: 70%;
  margin: 0 auto;
  height: 500px;
  text-align: center; }
  section.login h1 {
    margin: 100px 0 40px 0; }
  section.login h2 {
    margin-bottom: 80px; }
  section.login a {
    color: #205081;
    text-decoration: none;
    padding: 40px;
    border-radius: 4px;
    border: 2px solid #205081;
    margin: 0px 20px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s; }
    section.login a span {
      font-size: 1.60em;
      position: relative;
      top: 5px; }
    section.login a:hover {
      color: white;
      background-color: #205081; }

footer {
  text-align: center;
  clear: both; }

section.files h3 {
  margin: 40px;
  text-align: center;
  font-weight: 400; }
section.files ul {
  list-style-type: none;
  width: 75%;
  margin: 0 auto; }
  section.files ul li div {
    display: inline-block; }
  section.files ul li {
    padding: 10px 0;
    border-bottom: 1px solid #d7d7d7; }
section.files li img {
  padding: 0 10px;
  height: 16px; }
section.files li .name {
  width: 40%; }
section.files li .extension,
section.files li .date,
section.files li .download {
  width: 19%; }
section.files li.header {
  color: #999999;
  border-bottom: 3px solid #d7d7d7;
  font-size: 14px; }

body {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  display: block; }

.container {
  max-width: 1200px;
  margin: 0 auto; }
