<section class="files">

  <h3>Google Drive File Listing</h3>

  <table>
    <tr ng-repeat="file in files">
      <td class="filename"><a href="{{ file.alternateLink }}" target="_blank">{{ file.title }}</a></td>
      <td class="extension">{{ file.fileExtension }}</td>
      <td class="size">{{ file.fileSize }}</td>
      <td class="date">{{ file.modifiedDate }}</td>
      <td class="download"><a href="{{ file.webContentLink }}" target="_blank">Download</a></td>
    </tr>
  </table>

</section>
